<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">Lconf Module</setting>
				<setting name="version">1.0</setting>
<!--
				<setting name="authors">
					<ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
				</setting>
				<setting name="homepage">http://www.agavi.org</setting>
				<setting name="update_url" />
				<setting name="description">An example module</setting>
-->				
				<setting name="connectionSource">DB</setting>
				
				<setting name="icons">
					<ae:parameter name="nagiosStructuralObject">silk-chart-organisation</ae:parameter>
					<ae:parameter name="nagiosTimeperiod">silk-clock-red</ae:parameter>
					<ae:parameter name="nagiosCommand">silk-script</ae:parameter>
					<ae:parameter name="nagiosContact">silk-user</ae:parameter>
					<ae:parameter name="nagiosContactgroup">silk-group</ae:parameter>
					<ae:parameter name="nagiosHost">silk-server</ae:parameter>
					<ae:parameter name="nagiosHostgroup">icinga-object-hostgroup</ae:parameter>
					<ae:parameter name="nagiosService">silk-cog</ae:parameter>
					<ae:parameter name="nagiosServicegroup">icinga-object-servicegroup</ae:parameter>
					<ae:parameter name="alias">silk-attach</ae:parameter>
				</setting>
				
				<setting name="customDialogs">
					<ae:parameter>
						<ae:parameter name="view">Command</ae:parameter>
						<ae:parameter name="description">Create a Command entry</ae:parameter>
						<ae:parameter name="iconCls">silk-script</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Contactgroup</ae:parameter>
						<ae:parameter name="description">Create a Contactgroup entry</ae:parameter>
						<ae:parameter name="iconCls">silk-group</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Contact</ae:parameter>
						<ae:parameter name="description">Create a Contact entry</ae:parameter>
						<ae:parameter name="iconCls">silk-user</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Hostgroup</ae:parameter>
						<ae:parameter name="description">Create a Hostgroup entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-object-hostgroup</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Host</ae:parameter>
						<ae:parameter name="description">Create a Host entry</ae:parameter>
						<ae:parameter name="iconCls">silk-server</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Service</ae:parameter>
						<ae:parameter name="description">Create a Service entry</ae:parameter>
						<ae:parameter name="iconCls">silk-cog</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Timeperiod</ae:parameter>
						<ae:parameter name="description">Create a Timeperiods entry</ae:parameter>
						<ae:parameter name="iconCls">silk-clock-red</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Default</ae:parameter>
						<ae:parameter name="description">Custom entry</ae:parameter>
						<ae:parameter name="iconCls">silk-bricks</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="propertyPresets">
					<ae:parameter name="property">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">"properties"</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="objectclass">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">"objectclass"</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="nagioscheckcommand">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">{"LDAP":["objectclass=nagiosCommand"],"Attr": "cn"}</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="nagiosmembers">
						<ae:parameter name="factory">Set</ae:parameter>
						<ae:parameter name="parameter">{"LDAP":["objectclass=nagiosHost","objectclass=nagioscontact"],"Attr": "cn"}</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="nagioshostgroups">
						<ae:parameter name="factory">Set</ae:parameter>
						<ae:parameter name="parameter">{"LDAP":["objectclass=nagiosHostgroup"],"Attr": "cn"}</ae:parameter>
					</ae:parameter>

					<ae:parameter name="nagioscontactgroups">
						<ae:parameter name="factory">Set</ae:parameter>
						<ae:parameter name="parameter">{"LDAP":[objectclass=nagiosContactgroup],"Attr": "cn"}</ae:parameter>
					</ae:parameter>					
					
					
				</setting>
				
				<setting name="searchCategories">
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosHost</ae:parameter>
						<ae:parameter name="category">Host</ae:parameter>
						<ae:parameter name="iconCls">icinga-object-hostgroup</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosHostgroup</ae:parameter>
						<ae:parameter name="category">Hostgroup</ae:parameter>
						<ae:parameter name="iconCls">silk-server</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosService</ae:parameter>
						<ae:parameter name="category">Service</ae:parameter>
						<ae:parameter name="iconCls">silk-cog</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosContact</ae:parameter>
						<ae:parameter name="category">Contact</ae:parameter>
						<ae:parameter name="iconCls">silk-user</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosContactgroup</ae:parameter>
						<ae:parameter name="category">Contactgroup</ae:parameter>
						<ae:parameter name="iconCls">silk-group</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosCommand</ae:parameter>
						<ae:parameter name="category">Command</ae:parameter>
						<ae:parameter name="iconCls">silk-script</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">nagiosTimeperiod</ae:parameter>
						<ae:parameter name="category">Contactgroup</ae:parameter>
						<ae:parameter name="iconCls">silk-clock-red</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="inheritance">
					<!-- 
							Inheritance definition service
					 -->
					<ae:parameter name="nagiosService">
						<ae:parameter name="nagiosService">
							<ae:parameter name="attributes">
								<ae:parameter name="nagioscheckcommand">
									<ae:parameter  name="overwrite">true</ae:parameter>
								</ae:parameter>
							</ae:parameter>
						</ae:parameter>
					</ae:parameter>

					<!-- 
							Inheritance definition host
					 -->
					<ae:parameter name="nagiosHost">
					
						<ae:parameter name="nagiosHost">
							<ae:parameter name="attributes">
								<ae:parameter name="nagiosaddress">
									<ae:parameter name="overwrite">true</ae:parameter>
								</ae:parameter>
								<ae:parameter name="nagiosalias">
									<ae:parameter name="overwrite">true</ae:parameter>
								</ae:parameter>
							</ae:parameter>
						</ae:parameter>
						
					</ae:parameter>
				</setting>
				
				<setting name="ldap_definition_ini">%core.module_dir%/LConf/lib/ldapConfig/staticObjects.ini</setting>
				<setting name="ldap_object_presets_ini">%core.module_dir%/LConf/lib/ldapConfig/objectDefaultAttributes.ini</setting>
			</settings>	
		</module>
		
	</ae:configuration>
</ae:configurations>