<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/module/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>
		
		<module enabled="true">
			<settings>
				<setting name="title">Lconf Module</setting>
				<setting name="version">1.0</setting>
<!--
				<setting name="authors">
					<ae:parameter name="joe.cool@peanuts.com">Snoopy</ae:parameter>
				</setting>
				<setting name="homepage">http://www.agavi.org</setting>
				<setting name="update_url" />
				<setting name="description">An example module</setting>
-->				
				<setting name="connectionSource">DB</setting>
				<!-- Adding styles -->

				<setting name="appkit_module.app.css_files">
					<!-- extjs stylesheets -->
					<ae:parameter>/styles/icinga_lconf.css</ae:parameter>
				</setting>

				<setting name="appkit_module.app.javascript_files">
					<!-- extjs stylesheets -->
					<ae:parameter>%core.module_dir%/LConf/lib/js/MultiSelectTree.js</ae:parameter>
				</setting>
				
				<setting name="icons">
					<ae:parameter name="organizationalUnit">icinga-icon-organisation</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@StructuralObject">lconf-logo</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Timeperiod">icinga-icon-clock-red</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Command">icinga-icon-script</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Contact">icinga-icon-user</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Contactgroup">icinga-icon-group</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Host">icinga-icon-server</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Hostgroup">icinga-icon-hostgroup</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Service">icinga-icon-cog</ae:parameter>
					<ae:parameter name="@@SCHEMA_PREFIX@@Servicegroup">icinga-object-servicegroup</ae:parameter>
					<ae:parameter name="alias">icinga-icon-attach</ae:parameter>
				</setting>
				
				<setting name="customDialogs">
					<ae:parameter>
						<ae:parameter name="view">Command</ae:parameter>
						<ae:parameter name="description">Create a Command entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-script</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Contactgroup</ae:parameter>
						<ae:parameter name="description">Create a Contactgroup entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-group</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Contact</ae:parameter>
						<ae:parameter name="description">Create a Contact entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-user</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Hostgroup</ae:parameter>
						<ae:parameter name="description">Create a Hostgroup entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-object-hostgroup</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Host</ae:parameter>
						<ae:parameter name="description">Create a Host entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-server</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Service</ae:parameter>
						<ae:parameter name="description">Create a Service entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-cog</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Timeperiod</ae:parameter>
						<ae:parameter name="description">Create a Timeperiods entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-clock-red</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Lconf Structural Object</ae:parameter>
						<ae:parameter name="description">Create a structrual object</ae:parameter>
						<ae:parameter name="iconCls">lconf-logo</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="view">Default</ae:parameter>
						<ae:parameter name="description">Custom entry</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-bricks</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="propertyPresets">
					<ae:parameter name="property">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">"properties"</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="objectclass">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">"objectclass"</ae:parameter>
					</ae:parameter>
					
					<ae:parameter name="@@SCHEMA_PREFIX@@checkcommand">
						<ae:parameter name="factory">ComboBox</ae:parameter>
						<ae:parameter name="parameter">{"LDAP":["objectclass=@@SCHEMA_PREFIX@@Command"],"Attr": "cn"}</ae:parameter>
					</ae:parameter>
					
<!--					<ae:parameter name="@@SCHEMA_PREFIX@@members">-->
<!--						<ae:parameter name="factory">Set</ae:parameter>-->
<!--						<ae:parameter name="parameter">{"LDAP":["objectclass=@@SCHEMA_PREFIX@@Host","objectclass=@@SCHEMA_PREFIX@@contact"],"Attr": "cn"}</ae:parameter>-->
<!--					</ae:parameter>-->
<!--					-->
<!--					<ae:parameter name="@@SCHEMA_PREFIX@@hostgroups">-->
<!--						<ae:parameter name="factory">Set</ae:parameter>-->
<!--						<ae:parameter name="parameter">{"LDAP":["objectclass=@@SCHEMA_PREFIX@@Hostgroup"],"Attr": "cn"}</ae:parameter>-->
<!--					</ae:parameter>-->
<!---->
<!--					<ae:parameter name="@@SCHEMA_PREFIX@@contactgroups">-->
<!--						<ae:parameter name="factory">Set</ae:parameter>-->
<!--						<ae:parameter name="parameter">{"LDAP":[objectclass=@@SCHEMA_PREFIX@@Contactgroup],"Attr": "cn"}</ae:parameter>-->
<!--					</ae:parameter>					-->
					
					
				</setting>
				
				<setting name="searchCategories">
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Host</ae:parameter>
						<ae:parameter name="category">Host</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-hostgroup</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Hostgroup</ae:parameter>
						<ae:parameter name="category">Hostgroup</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-server</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Service</ae:parameter>
						<ae:parameter name="category">Service</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-cog</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Contact</ae:parameter>
						<ae:parameter name="category">Contact</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-user</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Contactgroup</ae:parameter>
						<ae:parameter name="category">Contactgroup</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-group</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Command</ae:parameter>
						<ae:parameter name="category">Command</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-script</ae:parameter>
					</ae:parameter>
					<ae:parameter>
						<ae:parameter name="objectclass">@@SCHEMA_PREFIX@@Timeperiod</ae:parameter>
						<ae:parameter name="category">Contactgroup</ae:parameter>
						<ae:parameter name="iconCls">icinga-icon-clock-red</ae:parameter>
					</ae:parameter>
				</setting>
				
				<setting name="inheritance">
					<!-- 
							Inheritance definition service
					 -->
					<ae:parameter name="@@SCHEMA_PREFIX@@Service">
						<ae:parameter name="@@SCHEMA_PREFIX@@Service">
							<ae:parameter name="attributes">
								<ae:parameter name="@@SCHEMA_PREFIX@@checkcommand">
									<ae:parameter  name="overwrite">true</ae:parameter>
								</ae:parameter>
							</ae:parameter>
						</ae:parameter>
					</ae:parameter>

					<!-- 
							Inheritance definition host
					 -->
					<ae:parameter name="@@SCHEMA_PREFIX@@Host">
					
						<ae:parameter name="@@SCHEMA_PREFIX@@Host">
							<ae:parameter name="attributes">
								<ae:parameter name="@@SCHEMA_PREFIX@@address">
									<ae:parameter name="overwrite">true</ae:parameter>
								</ae:parameter>
								<ae:parameter name="@@SCHEMA_PREFIX@@alias">
									<ae:parameter name="overwrite">true</ae:parameter>
								</ae:parameter>
							</ae:parameter>
						</ae:parameter>
						
					</ae:parameter>
				</setting>
				
				<setting name="ldap_definition_ini">%core.module_dir%/LConf/lib/ldapConfig/staticObjects.ini</setting>
				<setting name="ldap_object_presets_ini">%core.module_dir%/LConf/lib/ldapConfig/objectDefaultAttributes.ini</setting>
			</settings>	
		</module>
		
	</ae:configuration>
</ae:configurations>
